**/.classpath
**/.dockerignore
**/.env
**/.env.*
!.env.example
**/.git
**/.hg
**/.idea
**/.project
**/.settings
**/.vscode
**/.vs
**/bin
**/obj
**/TestResults
**/coverage
Dockerfile
docker-compose.yml
README.md
